@import url(http://fonts.googleapis.com/css?family=Merriweather);
#navbar_Dubsit{
    font-family: 'Merriweather', serif;
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.pace .pace-progress{background:#29d;position:fixed;z-index:2000;top:0;left:0;height:2px;-webkit-transition:width 1s;-moz-transition:width 1s;-o-transition:width 1s;transition:width 1s}
.pace-inactive{display:none}
.pagination li{display:inline-block;padding:5px}
a.disabled{text-decoration:none;color:#000;cursor:default}
